<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCe1dP8CtwwOCDre9TZ2UR2lYsIIrqgzZM</string>
	<key>GCM_SENDER_ID</key>
	<string>612372154184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facrerec1</string>
	<key>PROJECT_ID</key>
	<string>facereco-95fd8</string>
	<key>STORAGE_BUCKET</key>
	<string>facereco-95fd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612372154184:ios:2d1302152e243be2d4957d</string>
</dict>
</plist>